.chat-container {
  max-width: 900px;
  margin: auto;

  height: 100vh;

  display: flex;
  flex-direction: column;

  background: #111;

  color: white;
}

.messages {
  flex: 1;
  height: 500px;
  overflow-y: auto;
  scroll-behavior: smooth;
  padding: 20px;
  display: flex;
  flex-direction: column;

  gap: 10px;
}

.message {
  max-width: 70%;

  padding: 12px;

  border-radius: 12px;

  background: #2b2b2b;

  color: white;

  align-self: flex-start;

  word-wrap: break-word;
}

.mine {
  align-self: flex-end;

  background: #2F80ED;
}

.header {
  display: flex;

  justify-content: space-between;

  margin-bottom: 5px;

  font-size: 12px;

  opacity: 0.8;
}

.input-area {
  display: flex;

  gap: 10px;

  padding: 20px;

  background: #1a1a1a;

  border-top: 1px solid #333;
}

.input-area input {
  flex: 1;

  padding: 12px;

  border: none;

  border-radius: 8px;

  font-size: 16px;

  outline: none;
}

.input-area button {
  padding: 12px 20px;

  border: none;

  border-radius: 8px;

  cursor: pointer;

  background: #2F80ED;

  color: white;

  font-weight: bold;

  transition: 0.3s;
}

.input-area button:hover {
  background: #56CCF2;
}