.quien-soy-container {
  margin-top: 20px;
  color: #000000;
}

/* Datos de GitHub alineados a la izquierda */
.datos-github {
  text-align: left;
  margin: 20px;
}

.datos-github img {
  display: block;
  margin-bottom: 10px;
}
.datos-github p {
  margin: 5px 0;
}