.navbar {
  display: flex;
  justify-content: center; /* centra todos los botones */
  gap: 1rem;               /* separación uniforme */
  padding: 1rem;
  background-color: #111;  /* fondo navbar */
}

.nav-left {
  display: flex;
  gap: 10px;
}

.nav-center {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.nav-right {
  display: flex;
  justify-content: flex-end;
}

.btn {
  background-color: #000000;
  color: #ffffff;
  padding: 8px 16px;
  border-radius: 6px;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
  cursor: pointer;
}

.btn:hover {
  background-color: #222222;
  transform: scale(1.05);
}

.active {
  background-color: #444444;
}
section, div, main {
  background: transparent;
}

.titulo-menu {

  display: flex;

  justify-content: center;

  text-align: center;

  font-size: 3rem;

  font-weight: bold;

  color: white;

  letter-spacing: 4px;

  text-transform: uppercase;

  text-shadow:
    0 0 10px rgba(255,255,255,0.25),
    0 0 20px rgba(255,255,255,0.15);

  animation: glow 2s ease-in-out infinite alternate;

  margin-bottom: 30px;

}

@keyframes glow {

  from {

    text-shadow:
      0 0 10px rgba(255,255,255,0.2),
      0 0 20px rgba(255,255,255,0.1);

  }

  to {

    text-shadow:
      0 0 15px rgba(255,255,255,0.35),
      0 0 30px rgba(255,255,255,0.2);

  }

}