<div
  class="quien-soy-container"
  *ngIf="userData() as datos"
>

  <h1 class="titulo-principal">
    Quién Soy
  </h1>

  <img
    [src]="datos.avatar_url"
    alt="Avatar"
    class="avatar"
  >

  <div class="datos-github">

    <p>
      <strong>Usuario:</strong>
      {{ datos.login }}
    </p>

    <p>
      <strong>Nombre:</strong>
      {{ datos.name }}
    </p>

    <p>
      <strong>Repos públicos:</strong>
      {{ datos.public_repos }}
    </p>

    <p>
      <strong>Seguidores:</strong>
      {{ datos.followers }}
    </p>

    <p>
      <strong>Siguiendo:</strong>
      {{ datos.following }}
    </p>

    <a
      [href]="datos.html_url"
      target="_blank"
      class="github-link"
    >
      Ver perfil en GitHub
    </a>

  </div>

  <!-- JUEGO -->

  <div class="juego-container">

    <h2 class="titulo-juego">
      Mi Juego Propio
    </h2>

    <h3 class="nombre-juego">
      Monkey Jump
    </h3>

    <div class="juego-container">

  <p class="descripcion-juego">

    Monkey Jump es un juego arcade de habilidad
    y reflejos donde controlás a un mono que debe
    subir constantemente por plataformas para
    conseguir el mayor puntaje posible.

  </p>

  <p class="descripcion-juego">

    El personaje puede moverse hacia la izquierda
    y derecha utilizando los botones en pantalla,
    permitiendo una experiencia simple y dinámica.

  </p>

  <p class="descripcion-juego">

    Una de las mecánicas principales del juego es
    que el mono puede atravesar los bordes de la
    pantalla: si sale por la derecha, reaparece
    por la izquierda, y viceversa.

  </p>

  <p class="descripcion-juego">

    Cada plataforma que desaparece por la parte
    inferior de la pantalla suma <strong>50 puntos</strong>,
    por lo que el objetivo es seguir avanzando,
    reaccionar rápido y sobrevivir el mayor tiempo
    posible para alcanzar un puntaje récord.

  </p>

</div>

</div>